extends layout

block content
    div.navbar.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                ul#global-nav.nav.pull-left
                   a(href='#').brand Control Panel
                     button#btn-logout.btn.btn-primary
                     i.icon-lock.icon-white
                     | Sign Out
    include modals/alert
    include modals/confirm
    br
    br
    br
    p #{testRender}
    h1 Produits
    ul
        each produit, i in productlist  
             li      
               div= produit.productName
               a(href=produit.url)= produit.website
               p Prix actuel #{produit.currentPrice}
                |Etait #{produit.initialPrice}
                form( method="post", action="/produit/:id/delete") 
                    input(name="_id", type="hidden", value="#{produit._id}") 
                    input(id="delete", value="x", type="submit")
            
    
    
block scripts
script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/views/home.js')
script(src='/js/controllers/homeController.js')
script(src='/js/form-validators/accountValidator.js')
script(src='js/controllers/priceController.js')
script(src='/js/views/test4.js')
script(src='./server/router.js')
script(src='./server/modules/test.js')